*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Built application files
build/
**/build/
app/build/
baselineprofile/build/

# Signing keys & secrets
*.jks
*.keystore
release-keystore.properties

# Do NOT ignore Room schemas
!app/schemas/

# Kotlin tooling metadata
.kotlin/

